@{
    ViewBag.Title = "Angular";
	var baseUrl = Request.Url.GetLeftPart(UriPartial.Authority);
    if(!baseUrl.EndsWith("/"))
    {
        baseUrl += "/";
    }
}


<script src="../../Scripts/ng2/polyfills.c5029aaa709dadec1c1a.js"></script>

<script src="../../Scripts/ng2/vendors.c5029aaa709dadec1c1a.js"></script>

<script src="../../Scripts/ng2/mainModule.c5029aaa709dadec1c1a.js"></script>


<main-app>Loading....</main-app>

<div href="@baseUrl" id="base-url"></div>