﻿@{
    ViewBag.Title = "Angular";
	var baseUrl = Request.Url.GetLeftPart(UriPartial.Authority);
    if(!baseUrl.EndsWith("/"))
    {
        baseUrl += "/";
    }
}

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

<main-app>Loading....</main-app>

<div href="@baseUrl" id="base-url"></div>