<h1>Contact Info</h1>
<input type="button" value="Get info" (click)="getContact(1)"/>
<input type="button" value="Get info" (click)="getContact(2)"/>
<input type="button" value="Get info" (click)="getContact(3)"/>